# post_requirements.txt
pandas==2.1.4
matplotlib==3.7.5
seaborn==0.12.2
plotly==5.20.0
scikit-learn==1.2.2
lightgbm==3.3.5
torch==1.13.1
streamlit==1.45.1
shap==0.44.1
pystan==2.19.1.1
prophet==1.1.5
